x-logging: &default-logging
    driver: "json-file"
    options:
        max-size: "10m"
        max-file: "3"

services:
    identifier:
        image: semtech/mu-identifier:1.10.3
        environment:
            DEFAULT_MU_AUTH_ALLOWED_GROUPS_HEADER: '[{"variables":[],"name":"public"},{"variables":[],"name":"harvesting-public"},{"variables":[],"name":"clean"}]'
            DEFAULT_ACCESS_CONTROL_ALLOW_ORIGIN_HEADER: "*"
            SESSION_COOKIE_SECURE: "true"
        labels:
            - "logging=true"
        logging: *default-logging

    dispatcher:
        image: semtech/mu-dispatcher:2.1.0-beta.2
        volumes:
            - ./config/dispatcher:/config
        labels:
            - "logging=true"
        logging: *default-logging

    # Your extra services here
    resource:
        image: semtech/mu-cl-resources:1.26.0
        environment:
            CACHE_CLEAR_PATH: "http://cache/.mu/clear-keys"
        volumes:
            - ./config/resources:/config
        labels:
            - "logging=true"
        logging: *default-logging

    migrations:
        image: semtech/mu-migrations-service:0.9.0
        links:
            - triplestore:database
        environment:
            MU_SPARQL_TIMEOUT: 600
        volumes:
            - ./config/migrations:/data/migrations
        labels:
            - "logging=true"
        logging: *default-logging

    delta-notifier:
        image: semtech/mu-delta-notifier:0.4.0
        volumes:
            - ./config/delta:/config/
        labels:
            - "logging=true"
        logging: *default-logging

    database:
        image: semtech/sparql-parser:0.0.15
        volumes:
            - ./config/authorization/:/config/
            - ./data/authorization/:/data/
        labels:
            - "logging=true"
        logging: *default-logging

    triplestore:
        image: redpencil/virtuoso:1.2.1
        environment:
            SPARQL_UPDATE: "true"
        volumes:
            - ./data/db:/data
            - ./config/virtuoso/virtuoso.ini:/data/virtuoso.ini
        labels:
            - "logging=true"
        logging: *default-logging
    consumer-service:
        image: lblod/poc-decide-harvester-consumer-service
        environment:
            #DCR_START_FROM_DELTA_TIMESTAMP: 2025-09-01T00:00:00
            #DCR_SYNC_BASE_URL: https://lokaalbeslist-harvester-1.s.redhost.be/
            #DCR_SYNC_FILES_PATH: /sync/besluiten/files
            #DCR_SYNC_DATASET_SUBJECT: http://data.lblod.info/datasets/delta-producer/dumps/lblod-harvester/BesluitenCacheGraphDump
            #TARGET_GRAPH: "http://mu.semte.ch/graphs/public"
            #DCR_BATCH_SIZE: 1000

            #op consumer for test
            DCR_SYNC_BASE_URL: https://organisaties.abb.lblod.info/
            DCR_SYNC_FILES_PATH: "/sync/organizations-public-info/files"
            DCR_SYNC_DATASET_SUBJECT: http://data.lblod.info/datasets/delta-producer/dumps/OrganizationsPublicInfoCacheGraphDump
            TARGET_GRAPH: "http://mu.semte.ch/graphs/public"
            HTTP_MAX_QUERY_SIZE_BYTES: 120000
            DCR_BATCH_SIZE: 2000
            HIGH_LOAD_DATABASE_ENDPOINT: http://triplestore:8890/sparql
        volumes:
            - ./data/files:/share
        links:
            - database:database
    filter-service:
        image: lblod/poc-decide-harvester-filter-service
        environment:
            TARGET_GRAPH: "http://mu.semte.ch/graphs/public"
            HTTP_MAX_QUERY_SIZE_BYTES: 120000
            DCR_BATCH_SIZE: 2000
            HIGH_LOAD_DATABASE_ENDPOINT: http://triplestore:8890/sparql
        volumes:
            - ./data/files:/share
        links:
            - database:database
    publish-service:
        image: lblod/poc-decide-harvester-publish-service
        environment:
            TARGET_GRAPH: "http://mu.semte.ch/graphs/public"
            HTTP_MAX_QUERY_SIZE_BYTES: 120000
            DCR_BATCH_SIZE: 2000
            HIGH_LOAD_DATABASE_ENDPOINT: http://triplestore:8890/sparql
        volumes:
            - ./data/files:/share
        links:
            - database:database

    frontend-dashboard:
        image: lblod/frontend-dashboard:1.7.0
        labels:
            - "logging=true"
        restart: always
        logging: *default-logging
    login:
        image: semtech/mu-login-service:3.0.0
        links:
            - database:database
        labels:
            - "logging=true"
        restart: always
        logging: *default-logging
    cache:
        image: semtech/mu-cache:2.0.2
        links:
            - resource:backend
        labels:
            - "logging=true"
        restart: always
        logging: *default-logging

    jobs-controller:
        image: lblod/job-controller-service:1.1.0
        volumes:
            - ./config/jobs-controller/:/config/
        labels:
            - "logging=true"
        restart: always
        logging: *default-logging

    scheduled-job-controller:
        image: lblod/scheduled-job-controller-service:1.0.3
        environment:
            LOG_SPARQL_ALL: "false"
            DEBUG_AUTH_HEADERS: "false"
        labels:
            - "logging=true"
        restart: always
        logging: *default-logging
    ###################################################################################
    # MU SCRIPTS
    # #################################################################################
    project-scripts:
        image: semtech/mu-scripts:1.0.0
        volumes:
            - ./scripts/project:/app/scripts/
        restart: "no"
